.card {
    width: 18rem;
}
.conteiner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20vh;
    margin-bottom: 20vh;
}
.card {
    background-color: rgba(0, 0, 0, 0.573);
    border-radius: 150px;
    
    overflow: hidden;
}
.card-body {
    display: block;
    align-items: center;
    justify-content: center;
}