.slider {
    display: flex;
    margin: 0 auto;
    width: 1250px;
    height: 500px;
    overflow: hidden;
}
.slides {
    width: 500%;
    height: 100%;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    position: relative;
    width: 1250px;
    transition: 1.7s ;
}
.slide img{
    width: 1250px;
    height: 500px;
}
.manual {
    position: absolute;
    width: 1250px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.85s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background-color: rgb(255, 255, 255);
}
.first {
    margin-left: 0px;
}
.nav-auto div {
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.85s;
}
.nav-auto {
    position: absolute;
    width: 1250px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.nav-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: rgb(255, 255, 255);
}

.r1:checked ~ #first{
    margin-left: 0px;
}
.r2:checked ~ #first{
    margin-left: -100%;
}
.r3:checked ~ #first{
    margin-left: -200%;
}
.r4:checked ~ #first{
    margin-left: -300%;
}
.r5:checked ~ #first{
    margin-left: -400%;
}




.conteiner {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.agenda {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100vw;
    height: 120vh;
    background-color: rgb(29, 30, 40);
    border: 3px solid rgb(12, 12, 14);
    border-radius: 25px;
    box-shadow: 1px 1px  rgba(0, 0, 0, 0.573);
}
.labels {
    margin-top: 5vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.labels .tags{
    opacity: 0.5;
    padding: 10px;
    border: 2px solid rgb(12, 12, 14);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}
.labels .tags:hover{
    opacity: 1;
}
.dias input{
    display: none;
}