.conteiner {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.agenda {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100vw;
    height: 220vh;
    background-color: rgb(29, 30, 40);
    border: 3px solid rgb(12, 12, 14);
    border-radius: 10px;
    box-shadow: 1px 1px  rgba(0, 0, 0, 0.573);
}
.labels {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.labels .tags{
    opacity: 0.5;
    padding: 10px;
    border: 2px solid rgb(12, 12, 14);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}
.labels .tags:hover{
    margin-bottom: -10px;
    background-color: rgb(12, 12, 14);
    opacity: 1;

}
.dias input{
    display: none;
}


.conteinerFilmes {
    margin: 0px;
    margin-bottom: 0px;
    padding-bottom: 178px;
    display: flex;
    flex-direction: column;
    background-color: rgb(12, 12, 14);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.filmeCard {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(12, 12, 14);
    opacity: 0.6;
    border: 2px solid rgb(12, 12, 14);
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
}
.filmeCard:hover {
    opacity: 1;
}
.movieCaps {
    display: flex;
    width: 130px;
    height: 215px;
    background-color: rgb(27, 27, 39);
}
.infoIcons {
    margin-top: 3px;
    display: flex;
    justify-content: space-around;
}
.movieInfo {
    width: 700px;
    height: 200px;
    margin-top: 50px;
}
.btn-group {
    display: flex;
    justify-content: space-evenly;
}



.contLoad {
    position: absolute;
    width: 85vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pre-load {
    width: 50px;
    height: 50px;
    border: 5px solid rgb(12, 12, 14);
    border-radius: 50%;
    border-top-color: #2fcacf;
    animation: load 2s infinite linear;;
}

@keyframes load {
    to {
        transform: rotate(1turn);
    }
}